@font-face {
  font-family: "Montserrat";
  src: url("/code/Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "TradeGothic LT Extended";
  src: url("/code/Fonts/Trade-Gothic-LT-Extended.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font-family: "Montserrat", sans-serif;
  --second-family: "TradeGothic LT Extended", sans-serif;

  font-family: var(--font-family);
}

:root {
  --blackish-green: #121;
  --mint-green: #8dd3bb;
  --light-mint-green: #d1f0e5;
  --slamon: #ff8682;
  --neutrals: #fff;
  --black: #171717;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

[data-theme="dark"] {
  --blackish-green: #fff;
  --mint-green: #669a88;
  --light-mint-green: #93c0af;
  --slamon: #ff8682;
  --neutrals: #171717;
  --black: #fff;
}

[data-theme="dark"] .invert {
  filter: invert(100%) !important;
}
[data-theme="accessibility"] {
  --neutrals: #ffffff;
  --black: #000000;
  --blackish-green: #000000;
  --banner-bg-accessibility: #f5f5f5;
}

[data-theme="accessibility"][data-color-scheme="black-white"] {
  --neutrals: #ffffff;
  --black: #333333;
  --blackish-green: #333333;
  --banner-bg-accessibility: #cccccc;
}

[data-theme="accessibility"][data-color-scheme="white-black"] {
  --neutrals: #333333;
  --black: #ffffff;
  --blackish-green: #ffffff;
  --banner-bg-accessibility: #4a4a4a;
}

[data-theme="accessibility"][data-color-scheme="black-green"] {
  --neutrals: #333333;
  --black: #98fb98;
  --blackish-green: #98fb98;
  --mint-green: #333333;
  --light-mint-green: #686868;
  --banner-bg-accessibility: #2f4f2f;
}

[data-theme="accessibility"][data-color-scheme="beige-brown"] {
  --neutrals: #f5f0e1;
  --black: #4a2c07;
  --blackish-green: #4a2c07;
  --banner-bg-accessibility: #d9c2a6;
}

[data-theme="accessibility"][data-color-scheme="blue-lightblue"] {
  --neutrals: #add8e6;
  --black: #0e0e52;
  --blackish-green: #0e0e52;
  --banner-bg-accessibility: #4682b4;
}

[data-theme="accessibility"] {
  font-size: 16px !important;
}

[data-theme="accessibility"][data-font-size="medium"] {
  font-size: 20px !important;
}

[data-theme="accessibility"][data-font-size="large"] {
  font-size: 24px !important;
}

/*.underline:hover {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2ecc71;
  transition: width 0.3s ease;
}*/
.interactive:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(110%) contrast(103%);
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: brightness(110%) contrast(103%);
}

body {
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 400% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
